@using ScoreboardApp.Models
@model TeamViewModel

@{
    ViewBag.Title = "ICFPC 2013 Monitor";
}

<h1>ICFPC 2013 problems statistics</h1>
@Html.Partial("ContestInfo")

@if (Model != null)
{
    <div id="info">
        <h2>Team @(Model.Team.teamName ?? Model.TeamNumber)</h2>
        <div class="row">
            @Html.Partial("TeamStatusSheet", Model)
        </div>
        <div class="row">
            @Html.Partial("ProblemsChart", Model)
        </div>
        @Html.Partial("OperationsStats", Model)
        <div class="row">
            <div class="span12">
                @Html.ActionLink("Other teams scores", "Stats")
            </div>
        </div>
    </div>
}

<h2>What can you do here?</h2>
<p>
    If you are one of the participants you are awesome!<br />
    Here you can visualize and analyse list of your solved problems. 
    As a side effect you will help us to make @Html.ActionLink("the unofficial scoreboard", "Stats", "Home").
</p>

@Html.Partial("SubmitionForm", new SubmitionModel())
